

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-flex: 1;

        -ms-flex-positive: 1;

            flex-grow: 1;
    
}







*{
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

body{
    padding: 5%;
}


.container{
    display: flex;
    background-color: dimgrey;
    border-style: solid;
    flex-direction: row;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    border-radius: 0    ;
}

.container>div{
    margin: 0 1%;  
}

.col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97%;
    background-color: dimgrey;
    flex-grow: 1;
    flex: 1 ;
}

.col3{
    flex-grow: 2;
    height: 97%;
    background-color: dimgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fila{
    display: flex;
    flex-direction: row;
    height: 97%;
    width: 100%;
    background-color: dimgrey;
    justify-content: space-between; 
}

#caja1{
    /*line-height: 100px;*/
    height: 97%;
    flex: 1 ;
    background-color: yellow;
}

#caja2{
    height: 57%;
    width: 100%;
    background-color: green;
}

#caja3{
    height: 37%;
    width: 100%;
    background-color: orange;
}

#caja4{
    height: 90%;
    width: 47%;
    margin: 0 ;
    background-color: orange;

}

#caja5{
    height: 90%;
    width: 47%;
    margin: 0 ;
    background-color: yellow;

}

#caja6{
    height: 57%;
    width: 100%;
    background-color: blue;
}

#caja7{
    height: 97%;
    flex: 1 ;
    background-color: pink;

}